* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a, img {
    border: 0;
}

body {
    font: 12px/180% Arial, Helvetica, sans-serif, "鏂板畫浣�";
}

.center1{
    margin-top: -50px;
    margin-left: -100px;
}

#img-logle{
    margin-top: -50px;
    width: 250px;
    height: 150px;
}

.search11 {
    width: 446px;
    height: 52px;
    background-color: white;
    color: #343434;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0px 0px 154px;
    border: 1px solid black;
    border-radius: 10px;
}

.button11 {
    width: 120px;
    height: 52px;
    background-color: white;
    color: #343434;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0px 0px 600px;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.button11:hover {
    color: red;
    background-color: chartreuse;
}

#fabu {
    margin: -40px 0px 0px 800px;
    background-color: gainsboro;
}

#fabu:hover {
    background-color: chartreuse;
}

a {
    cursor: pointer;
}

/* select */
.select {
    /*padding: 5px 10px;*/
    width: 100%;
    font-size: 16px;
    line-height: 5px;
}

.select li {
    list-style: none;
    padding: 10px 0 5px 100px;
}

.select .select-list {
    border-bottom: #eee 1px dashed;
}

.select dl {
    zoom: 1;
    position: relative;
    line-height: 24px;
}

.select dl:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden
}

.select dt {
    width: 100px;
    margin-bottom: 5px;
    position: absolute;
    top: 0;
    left: -100px;
    text-align: right;
    color: #666;
    height: 24px;
    line-height: 24px
}

.select dd {
    float: left;
    display: inline;
    margin: 0 0 5px 5px;
}

.select a {
    display: inline-block;
    white-space: nowrap;
    height: 24px;
    padding: 0 10px;
    text-decoration: none;
    color: #039;
    border-radius: 2px;
}

.select a:hover {
    color: #f60;
    background-color: #f3edc2
}

.select .selected a {
    color: #fff;
    background-color: #f60
}

.select-result dt {
    font-weight: bold
}

.select-no {
    color: #999
}

.select .select-result a {
    padding-right: 20px;
}

.select .select-result a:hover {
    background-position: right -15px
}

