<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaobo.mapper.PhotoMapper">
	<insert id="addPhoto" parameterType="Photo">
		insert into photo(PHOTO_ID,PHOTO_NAME,HOUSE_ID)
		value(#{photoId},#{photoName},#{houseId});
	</insert>
	<delete id="delete" parameterType="Integer">
		delete from photo where HOUSE_ID=#{houseId};
	</delete>
</mapper>