<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SearchHouse.mapper.House2Mapper">
	<resultMap type="UserInfo" id="userInfoResultMap">
		<id property="userId" column="USER_ID" />
		<result property="userName" column="USER_NAME" />
		<result property="userPassword" column="USER_PASSWORD" />
		<result property="telNumber" column="TEL_NUMBER" />
		<result property="phoneNumber" column="PHONE_NUMBER" />
		<result property="userMail" column="USER_MAIL" />
		<result property="realName" column="REAL_NAME" />
		<result property="userSex" column="USER_SEX" />
		<result property="userAge" column="USER_AGE" />
		<result property="userCard" column="USER_CARD" />
		<result property="userPhoto" column="USER_PHOTO" />
		<result property="userBirthday" column="USER_BIRTHDAY" />
		<result property="address" column="ADDRESS" />
		<result property="homeAddress" column="HOME_ADDRESS" />
		<result property="userTag" column="USER_TAG" />
		<result property="qualityRating" column="QUALITY_RATING" />
	</resultMap>
	<resultMap type="House" id="HouseResultMap">
		<id property="houseId" column="HOUSE_ID" />
		<result property="houseTypeId" column="HOUSE_TYPE" />
		<result property="houseAddress" column="HOUSE_ADDRESS" />
		<result property="locationName" column="LOCALTION_NAME" />
		<result property="houseUnit" column="HOUSE_UNIT" />
		<result property="houseFloor" column="HOUSE_FLOOR" />
		<result property="houseFloorTotal" column="HOUSE_FLOOR_TOTAL" />
		<result property="houseArea" column="HOUSE_AREA" />
		<result property="housePrice" column="HOUSE_PRICE" />
		<result property="houseName" column="HOUSE_NAME" />
		<result property="detailedIntro" column="DETAILED_INTRO" />
		<result property="photo" column="HOUSE_CARD_PHOTO" />

		<association property="fitment" column="FITMENT_ID_FK"
			select="getFitmentById"></association>
		<association property="pay" column="PAY_ID" select="getPayById"></association>
		<association property="houseStatus" column="HOUSE_STATUS_ID_FK"
			select="getStatusById"></association>
	</resultMap>

	<!--状支付 -->
	<resultMap type="Pay" id="PayResultMap">
		<id property="payId" column="PAY_ID" />
		<result property="payName" column="PAY_TYPE" />
	</resultMap>
	<select id="getPayById" parameterType="Integer" resultMap="PayResultMap">
		select * from pay where PAY_ID=#{payId};
	</select>

	<!-- 装修 -->
	<resultMap type="Fitment" id="fitmentResultMap">
		<id property="fitmentId" column="FITMENT_ID" />
		<result property="fitmentName" column="FITMENT_TYPE" />
	</resultMap>
	<select id="getFitmentById" parameterType="Integer" resultMap="fitmentResultMap">
		select * from fitment where FITMENT_ID=#{fitmentId};
	</select>

	<!-- 状态 -->
	<resultMap type="HouseStatus" id="StatusResultMap">
		<id property="houseStatusId" column="HOUSE_STATUS_ID" />
		<result property="houseStatusName" column="HOUSE_STATUS_NAME" />
	</resultMap>
	<select id="getStatusById" parameterType="Integer" resultMap="StatusResultMap">
		select * from housestatus where HOUSE_STATUS_ID=#{houseStatusId};
	</select>

	<select id="getHouseById" parameterType="Integer" resultMap="HouseResultMap">
		select * from houseinfo where HOUSE_ID=#{houseId} and
		HOUSE_STATUS_ID_FK=1;
	</select>
	<!-- 模糊搜索 -->
	<select id="getHouseByKey1" parameterType="String" resultMap="HouseResultMap">
		select * from houseinfo where HOUSE_STATUS_ID_FK=1 and HOUSE_NAME like
		"%"#{keyName}"%" or LOCALTION_NAME like "%"#{keyName}"%" or
		HOUSE_ADDRESS like "%"#{keyName}"%";
	</select>


</mapper>