<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaobo.mapper.QualityMapper">

<insert id="addQuality" parameterType="Quality">

insert into quality (USER_ID,QUALITY_NAME,QUALITY_CARD,QUALITY_NUM,QUALITY_RESULT) values (#{userInfo.userId},#{qualityName},#{qualityCard},#{qualityNum},#{qualitResult}) 

</insert>


<!-- 查找  根据  useid查找 -->
<select id="findQulaity" parameterType="String" resultType="Integer" >

select QUALITY_ID from quality where USER_ID=#{userId }

</select>


<!-- 查找  根据  useid查找 -->
<select id="findQulaityNum" parameterType="String" resultType="Integer" >

select count(*) from quality where USER_ID=#{userId }

</select>


<!-- 查找个人信息表中 的qualityRating -->
<select id="findPerson" parameterType="String" resultType="String">

select QUALITY_RATING from userinfo where USER_ID=#{userId}

</select>



</mapper>